/* Add styled focus states on tab not hover */

:focus-visible {
  opacity: 1 !important;
  outline: 2px solid var(--clr-primary-100);
  outline-offset: 2px;
}

:focus:not(:focus-visible) {
  outline: transparent;
}
