/* Skip to main content */
.skip-link {
  position: absolute;
  display: block;
  inset-block-start: -999px;
  inset-inline-start: -999px;
}

.skip-link:focus {
  inset-block-start: 0;
  padding: 3px;
  border: 1px solid #000;
  background: #ffc;
  inset-inline-start: 0;
}

/* Remove necessary focus style as main is the :target */
main:focus {
  outline: none;
}
