/* Align flex children at small and large viewports */
@use "../abstracts/breakpoints" as *;

.split {
  display: flex;
  justify-content: center;
  gap: var(--bespoke-gap, var(--space-s));

  > * {
    flex: 1 1 var(--min, var(--space-s));
  }
}
