@use "../abstracts/breakpoints" as *;

.banner {
  --bespoke-gap: var(--space-xxs);

  @include respond-to("large") {
  }

  .img {
    flex-basis: min(50% - var(--bespoke-gap), 30rem);
  }

  .text {
    flex-basis: 30rem;
    padding: var(--space-m);
  }


}
