@use "../abstracts/breakpoints" as *;

.footer {
  --container-max: min(100%, 75rem);

  grid-column: 1 / -1;
  padding: var(--space-xl);
  background-color: var(--clr-primary-100);

  :is(h2, p) {
    color: var(--clr-secondary-100);


    @include respond-to("large") {
      text-align: start;
    }
  }

  .text {
    --bespoke-gap: var(--space-m);


    p {
      max-inline-size: min(100%, 27.5rem);
      font-weight: 5       00;
    }
  }
}
