@use "../abstracts/breakpoints" as *;

.features {
  .images {
    --container-max: min(100%, 65rem);
    --bespoke-gap: var(--space-s);

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--bespoke-gap);

    @include respond-to("medium") {
      grid-template-columns: repeat(4, 1fr);
    }

    img {
      border-radius: 1rem;
    }
  }

  .text {
    inline-size: min(100%, 35rem);

    > p:first-of-type {
      font-size: var(--step--1);
      font-weight: 900;
      letter-spacing: 4px;
      text-transform: uppercase;
      color: var(--clr-primary-100);
    }
  }


}
