@use "reset";

/* ==================================================
  Global Styles
  ================================================== */

@use "abstracts/variables";
// @use "abstracts/breakpoints";

/* ==================================================
Composition
================================================== */

@use "composition/align-content";

/* ==================================================
Utilities
================================================== */

@use "utilities/container";
@use "utilities/flow-content";
@use "utilities/flow-section";
@use "utilities/outline";
@use "utilities/skip-link";
@use "utilities/split";
@use "utilities/visually-hidden";
@use "utilities/full-bleed";

/* ==================================================
Blocks
================================================== */

@use "blocks/header";
@use "blocks/banner";
@use "blocks/features";

/* Base Styles
================================================== */
body {
  background-color: var(--secondary-100);
  font-family: var(--ff-body);
  font-size: var(--step-0);
  text-align: center;
}

:is(h1, h2) {
  color: var(--clr-primary-400);
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

p {
  color: var(--clr-primary-300);
}
