@use "reset";

/* ==================================================
  Global Styles
  ================================================== */

@use "abstracts/variables";
@use "abstracts/breakpoints";


/* ==================================================
Composition
================================================== */

@use "composition/align-content";

/* ==================================================
Utilities
================================================== */

@use "utilities/container";
@use "utilities/flow-content";
@use "utilities/flow-section";
@use "utilities/outline";
@use "utilities/skip-link";
@use "utilities/split";
@use "utilities/visually-hidden";

/* ==================================================
Blocks
================================================== */


/* Base Styles
================================================== */
body {
  background-color: var(--secondary-100);
  font-family: var(--ff-body);
  text-align: center;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}
